extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/account.css')

block nav
	a(href='/') Home
	a.active(href='/account') Account
	a(href='/upload') Upload
	a(href='/logout') Logout

block body

	h1 #{username}

	if !tabs || tabs.length === 0
		span.notabs No Tabs (click 'Upload' to create a new Tab)
	else
		ul
			each tab in tabs
				li
					a.tab.pretty(href='/tab?tabid=#{tab.id}')
						span.name #{tab.name}
						span.artist #{tab.artist}
					a.pretty.delete(href="/delete?tabid=#{tab.id}") X
