extends ./base.jade

block append head
	link(rel='stylesheet', type='text/css', href='/static/css/search.css')

block nav
	a(href='/') Home
	if(logged_in)
		a(href='/account') Account
		a(href='/upload') Upload
		a(href='/logout') Logout
	else
		a(href='/login') Login
		a(href='/signup') Signup

block body

	ul
		li#labels
			span.name Name
			span.artist Artist
			span.key Key
			span.scale Scale

		if !tabs || tabs.length === 0
			li
				span.notabs No Tabs (click 'Upload' to create a new Tab)
		else
			each tab in tabs
				li
					a.tab.pretty(href='/tab?tabid=#{tab.id}')
						span.name #{tab.name}
						span.artist #{tab.artist}
						span.key #{tab.key}
						span.scale #{tab.scale}
